# ACTIVIDAD 3:
## 1. Preparacion del notebook
- Clonamos el repositorio con "git clone https://github.com/20rd1/actividad_github"
- Creamos el notebook con el nombre "ROFAYA.ipynb"
- Seleccionamos el kernel de Anaconda (Python 3.13.5)

## 2. Selección del dataset
- Importamos Pandas para descargar nuestro csv ("https://www.kaggle.com/datasets/aakashjoshi123/exercise-and-fitness-metrics-dataset")
- Descargamos el dataset y analizamos sus datos y variables

In [19]:
import pandas as pd
Dat = pd.read_csv ("exercise_dataset.csv")
Dat

,ID,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,1,Exercise 2,286.959851,91.892531,96.301115,45,Male,37,170,29.426275,Rainy,5
1,2,Exercise 7,343.453036,64.165097,61.104668,25,Male,43,142,21.286346,Rainy,5
2,3,Exercise 4,261.223465,70.846224,71.766724,20,Male,20,148,27.899592,Cloudy,4
3,4,Exercise 5,127.183858,79.477008,82.984456,33,Male,39,170,33.729552,Sunny,10
4,5,Exercise 10,416.318374,89.960226,85.643174,29,Female,34,118,23.286113,Cloudy,3
...,...,...,...,...,...,...,...,...,...,...,...,...
3859,3860,Exercise 5,154.113144,98.147291,96.745133,20,Female,22,139,32.447764,Cloudy,7
3860,3861,Exercise 4,486.392768,97.598957,92.700573,21,Female,49,160,26.602475,Rainy,5
3861,3862,Exercise 4,264.307731,94.946612,96.778936,57,Male,56,167,31.435348,Rainy,9
3862,3863,Exercise 9,185.951870,64.743906,68.662889,58,Female,60,128,19.774614,Rainy,1
3863,3864,Exercise 7,116.360417,56.757424,59.833403,35,Male,22,134,29.581330,Rainy,1

In [20]:
Dat.info()
Dat.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  3864 non-null   int64
 1   Exercise            3864 non-null   object
 2   Calories Burn       3864 non-null   float64
 3   Dream Weight        3864 non-null   float64
 4   Actual Weight       3864 non-null   float64
 5   Age                 3864 non-null   int64
 6   Gender              3864 non-null   object
 7   Duration            3864 non-null   int64
 8   Heart Rate          3864 non-null   int64
 9   BMI                 3864 non-null   float64
 10  Weather Conditions  3864 non-null   object
 11  Exercise Intensity  3864 non-null   int64
dtypes: float64(4), int64(5), object(3)
memory usage: 362.4+ KB

ID                      int64
Exercise               object
Calories Burn         float64
Dream Weight          float64
Actual Weight         float64
Age                     int64
Gender                 object
Duration                int64
Heart Rate              int64
BMI                   float64
Weather Conditions     object
Exercise Intensity      int64
dtype: object

## 3.Analisis de datos
### a) Análisis del problema
El objetivo del dataset es estudiar como se relacionan las variables de ejercicio, el peso y los factores fisiológicos y ambientales entre sí y analizarlos de manera integral para la investigación en ciencias del ejercicio, el desarrollo de programas de acondicionamiento físico, el análisis del control de peso y los estudios de correlación entre el ejercicio y factores relacionados con la salud.
### b) Selección de técnicas
Es un problema de regresión porque buscamos predecir valores numéricos continuos y cuantificar la relación entre eellos permitiendo así proyecciones exactas para el desarrollo de programas de salud.
### c) Posibles sesgos
Encontramos un sesgo en el origen de los datos, en concreto un sesgo de artificialidad descrito en el apartado de procedencia, lo que significa que los datos no provienen de mediciones reales en personas y los datos reflejan patrones matemáticos idealizados, por lo tanto,  sus conclusiones carecerán de validez clínica real.

## 4.Exploración de datos
### a)Clasificación de variables
### b)Identificación de valores únicos
### c)Identificar errores

## 5. Análisis descriptivo
### a)Medidas de Tendencia Central: Media, Mediana y Moda
### b)Medidas de Dispersión: Rango, Varianza/Desviación Estándar y Rango Intercuartílico
### c) Medidas de posición: percentiles
### d) Representación gráfica

## 6. Compartir notebook en GitHub